<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">  
  <select id="idCheck">
    select count(userId) cnt
    from user
    where userId = #{userId}
  </select>
  <select id="getUser">
    select u.*,l.iLike,l.likeMe,p.postCnt
    from user u
    inner join (
      SELECT #{id} AS userId, 
      COUNT(CASE WHEN from_userId = #{id} THEN 1 END) AS iLike, 
      COUNT(CASE WHEN to_userId = #{id} THEN 1 END) AS likeMe
      FROM user_like
      WHERE from_userId = #{id} OR to_userId = #{id}
      ) as l on l.userId = #{id}
    inner join (
      select #{id} as userId, count(*) as postCnt
      from post
      where userId = #{id}
      ) as p on p.userId = #{id}
    where u.id = #{id}

  </select>
  <select id="findAll">
    select *
    from user
  </select>
  <select id="insertUser">
    insert
    into user(userId,userName,password,email,gender,status)
    values (#{userId},#{userName},#{password},#{email},#{gender},'C')
  </select>
  <select id="login">
    select id, userName, password
    from user
    where userId = #{userId}
  </select>
  <update id="updateUser" parameterType="map">
    update user
    <set>
        <if test="userId != null">
            userId = #{userId},
        </if>
        <if test="userName != null">
            userName = #{userName},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="gender != null">
            gender = #{gender},
        </if>
    </set>
    where id = #{id}
</update>
</mapper>